.Rproj.user/**
.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect
*.html
*.DS_Store
debugging.R
tests/GeneralTest-expected
*.html
old_Sqlite.db
Sqlite.db
R/exampleData
R/exampleDatabase
R/createDatabase
R/createDatabase.R
