.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect
.Rproj.user/20A67647/sources/prop/9ECABDA4
.Rproj.user/20A67647/sources/prop/9ECABDA4
.Rproj.user/20A67647/sources/prop/9ECABDA4
.Rproj.user/20A67647/sources/prop/A8BA0C09
.Rproj.user/20A67647/sources/prop/C657B0EE
