.Rproj.user/**
.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect
*.DS_Store
debugging.R
tests/GeneralTest-expected
Sqlite.db
dev
*.Rprof
inst/extdata/originalExampleDatabase.db
inst/extdata/Sqlite_ML.db
.vscode/
rsconnect/
inst/doc
